@charset "utf-8";


// 附近联系人信息
.stranger {

  .inner {
    padding-bottom: 50px;
  }

  .profile {
    position: relative;
    padding: 15px 15px 15px 96px;
    background: #42d5cf url(../images/nearby-banner.jpg) no-repeat 50% 50%;
    background-size: cover;

    .hd {
      @include box(horizontal, start, center);
      display: flex;
    }

    %title-style {
      font-size: 16px;
      color: #fff;
      line-height: 1.5;
    }

    h1 {
      @include flex(1);
      flex: 1;
      @extend %title-style;
    }

    .price {
      font-weight: 700;
      @extend %title-style;
    }

    .img {
      position: absolute;
      left: 7px;
      top: 14px;
      width: 68px;
      height: 68px;
      padding: 1px;
      border: 1px solid #e6e6e6;
      border-radius: 2px;

      img {
        width: 100%;
      }
    }

    .bd {
      margin: 5px 0;
    }

    .description {
      font-size: 12px;
      color: rgba( 255, 255, 255, .6);
      line-height: 1.6;
    }
  }

  .picture {
    position: relative;
    padding-left: 85px;
    background-color: #fff;
    @extend %border1pxbottom;
    font-size: 14px;
    h1 {
      position: absolute;
      left: 0;
      top: 50%;
      @include transform( translate(0, -50%) );
      width: 85px;
      text-align: center;
    }
    &-list {
      overflow: hidden;
      padding: 5px 0;
    }
    li {
      float: left;
      width: 50px;
      height: 50px;
      margin: 5px 10px 5px 0;
      overflow: hidden;
      &:last-child {
        margin-right: 0;
      }
    }
    img {
      width: 100%;
    }
  }

  .about, .fans {
    position: relative;
    font-size: 14px;
    margin-top: 15px;
    @extend %border1pxtop;
    background-color: #fff;
    padding-top: 5px;
    dl {
      position: relative;
      margin-left: 60px;
      padding: 5px 0 5px 10px;
      display: table;
      width: -webkit-calc(100% - 70px);
      width: calc(100% - 70px);
      line-height: 24px;
      @extend %border1pxbottom;
    }

    .other {
      border-bottom: 0 none;
    }

    dt {
      position: absolute;
      margin-left: -65px;
    }

    dd {
      float: left;
      margin-right: 8px;
    }
  }

  .about dl {
    @extend %border1pxbottom;
  }

  .other dd {
    margin: 5px;
    line-height: 30px;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 0 10px;
    color: #3a3a3a;
  }

  .fans dl, .about .other {
    &:after {
      border-bottom: 0 none;
    }
  }

  .make {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: #f3f3f3;
    color: #697776;
    @extend %border1pxtop;
  }
}

// 邀请表单
.edit {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform( translate(-50%, -50%) );
  h2 {
    font-weight: 700;
    color: #697776;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #c6c6c6;
    text-align: center;
  }
  label {
    display: block;
    margin: 7px;
  }
  .price-label {
    height: 36px;
    line-height: 36px;
    color: #c4c4c4;
    border-bottom: 1px solid #c6c6c6;
  }

  input {
    border: 0 none;
    outline: none;
  }

  textarea {
    width: 100%;
    border: 0 none;
    outline: none;
    box-sizing: border-box;
    resize: none;
    height: 130px;
  }

  input, textarea {
    font-size: 14px;
  }

  button {
    -webkit-appearance: none;
    text-align: center;
    border: 0 none;
    height: 45px;
    line-height: 45px;
    background-color: #2abba4;
    color: #fff;
    width: 100%;
    font-size: 22px;
  }
}

// 邀请反馈
.layer-message {
  text-align: center;
  color: #fff;

  .tip {
    margin: 50px auto 30px;
    @include box(horizontal);
  }

  .split {
    width: 13px;
    height: 9px;
    background: url(../images/to.png) no-repeat 50% 50%;
    background-size: 100%;
    margin: 0 10px;
  }

  .from, .to {
    @include flex(1);
    flex: 1;
    text-align: left;
    &:after {
      content: 'X X X X X X X X X X ';
      font-size: 2em;
      display: block;
      height: 0;
      line-height: 0;
      overflow: hidden;
    }
  }

  .from {
    text-align: right;
  }

  @each $type in girl, boy {
    .icon-#{$type} {
      display: inline-block;
      width: 35px;
      height: 35px;
      background: url(../images/#{$type}-type.png) no-repeat 50% 50%;
      background-size: 100%;
    }
  }
}

