@charset "utf-8";

// 聊天
.talk {
  padding: 12px 5px;
  background: #d4d4d4;
  .inner {
    padding-bottom: 65px;
  }

  .media {
    position: relative;
    overflow: hidden;
    margin-top: 15px;
    min-height: 80px;
    padding: 0 80px;
  }

  .img {
    position: absolute;
    top: 0;
    padding: 1px;
    border: 1px solid #8c8c8c;
    width: 65px;
    height: 65px;
    border-radius: 2px;
  }
  .he .img {
    left: 0;
  }
  .me .img {
    right: 0;
  }
  img {
    width: 100%;
  }

  .message {
    background-color: #fff;
    color: #000;
    line-height: 24px;
    padding: 10px;
    border-radius: 4px;
    position: relative;
  }
  .message:after {
    content: '';
    position: absolute;
    border: 10px solid transparent;
  }
  .he .message {
    float: left;
    margin-left: 5px;
    &:after {
      top: 12px;
      left: -10px;
      border-left-style: none;
      border-right-color: #fff;
    }
  }
  .me .message {
    float: right;
    margin-right: 5px;
    background-color: #72d066;
    &:after {
      top: 12px;
      right: -10px;
      border-left-color: #72d066;
      border-right-style: none;
    }
  }
}

// 目前设计, 界面不能多行显示...
.talk-area {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  background-color: #f3f3f3;

  .input-wrap {
    overflow: hidden;
    margin-left: 8px;
    padding: 0 5px;
    height: 32px;
    border: 1px solid #bebebe;
    background-color: #fff;
    border-radius: 4px;
    input {
      width: 100%;
      border: 0 none;
      height: 100%;
      line-height: 1.5;
      font-size: 16px;
      outline: none;
    }
  }

  .send {
    float: right;
    margin: 0 8px;
    height: 32px;
    padding: 0 15px;
    -webkit-appearance: none;
    background-color: #f3f3f3;
    border-radius: 36px;
    border: 1px solid #bebebe;
  }
}

