@charset "utf-8";

.address, .time {
  padding-left: 8px;
  @include flex(1);
  vertical-align: middle;
  box-sizing: border-box;
  &:after {
    content: 'X X X X X X X X X X X X X X X X X X X X ';
    font-size: 2em;
    height: 0;
    line-height: 0;
    overflow: hidden;
    display: block;
  }
  img {
    max-width: 14px;
    vertical-align: -2px;
    margin-right: 10px;
  }
}

.task-item {
  margin: 14px 5px;
  &:first-child {
    margin: 10px 5px;
  }
  border-radius: 4px;
  background-color: #fff;

  .list-item:after {
    content: '';
    display: none;
  }

  .sub-title {
    color: #da634f;
    font-size: 14px;
    margin-right: 15px;
  }

  .task-content {
    line-height: 1.5;
    margin: 0 10px;
    padding: 6px 0;
    border-top: 1px solid #dadada;
    color: #929292;
    .hd {
      @include box(horizontal, start, start);
    }
    .bd {
      padding-top: 10px;
      padding-left: 32px;
      position: relative;
    }
    .icon-text,
    .icon-love {
      position: absolute;
      margin-left: -25px;
      margin-top: 4px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 100%;
      width: 14px;
      height: 14px;
    }
    .icon-text {
      background-image: url(../images/description.png);
    }
    .icon-love {
      background-image: url(../images/love.png);
    }
  }
}

.task {
  .inner {
    padding-bottom: 50px;
  }
  .hd {
    background-color: #1fc7be;
    color: #fff;
    @include box(horizontal, start, start);
  }
  .user {
    min-height: 140px;
    width: 107px;
    text-align: center;
    padding: 10px 0;
  }
  .main {
    @include flex(1);
    padding: 10px 15px;
    border-left: 1px solid #74dcd7;
  }
  .img {
    padding: 1px;
    border: 1px solid #ededed;
    width: 65px;
    height: 65px;
    border-radius: 2px;
    margin: 15px auto;
  }
  img {
    width: 100%;
  }
  .name {
    margin-bottom: 6px;
  }
  h1 {
    font-size: 18px;
  }
  .when-where {
    @include box(horizontal, start, start);
    margin: 8px 0;
  }
  .description {
    color: rgba(255,255,255,.6);
    margin-bottom: 15px;
  }
  .price {
    font-size: 21px;
  }

  .bd {
    padding-left: 86px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 30px;
      bottom: 30px;
      left: 43px;
      width: 1px;
      background-color: #c8c8c8;
    }
  }

  .users {
    padding-right: 12px;
    border-bottom: 1px solid #c8c8c8;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 15px;
      left: -43px;
      z-index: 2;
      @include transform(translate(-50%));
      width: 27px;
      height: 27px;
      background: url(../images/users.png) no-repeat 50% 50%;
      background-size: 100%;
    }
    ul {
      overflow: hidden;
    }
    li {
      float: left;
    }
    .img {
      margin: 6px 0 0 6px;
      width: 38px;
      height: 38px;
    }

    &-count {
      overflow: hidden;
      color: #909090;
      p {
        float: right;
        @include transform(scale(0.8));
      }
    }
  }

  .comments {
    padding: 15px 12px 15px 0;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 10px;
      left: -43px;
      @include transform(translate(-50%));
      z-index: 2;
      width: 22px;
      height: 22px;
      background: url(../images/comment.png) no-repeat 50% 50%;
      background-size: 100%;
    }
    .media {
      margin-bottom: 20px;
      overflow: hidden;
    }
    .img {
      float: right;
      margin: 0 0 5px 10px;
    }
    h1 {
      color: #333;
      font-size: 14px;
    }
    .content {
      margin-top: 5px;
      color: #929292;
      line-height: 1.6;
      font-size: 12px;
    }
  }

  .comment-date {
    color: #929292;
  }

  .comment-nav {
    a {
      color: #929292;
      margin-right: 24px;
      font-size: 12px;
    }
  }

  .foot {
    &:after {
      display: none;
    }
  }
}


%layer-success {
  content: "";
  display: block;
  width: 65px;
  height: 65px;
  margin: 27px auto;
}
.layer-comment-success {
  &:before {
    @extend %layer-success;
    background: url(../images/icon-comment-success.png) no-repeat 50% 50%;
    background-size: 100%;
    @include transform(translate(5px, 0));
  }
}
.layer-join-success {
  &:before {
    @extend %layer-success;
    background: url(../images/icon-join-success.png) no-repeat 50% 50%;
    background-size: 100%;
  }
}
