html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/* ADDS A BROWSER PREFIX TO THE PROPERTY */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BACKGROUND COLOR OPACITY */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSFORM STYLE */
/* TRANSITION */
/* TRIPLE BORDERS */
/* KEYFRAMES */
/* ANIMATION */
body {
  -webkit-tap-highlight-color: transparent; }

.box, .layer, .mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  -webkit-transform: translate3D(0, 0, 0);
  -khtml-transform: translate3D(0, 0, 0);
  -moz-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  -o-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0); }

.box {
  background-color: #ededed; }

.have-head .inner {
  margin-top: 50px; }

.have-foot .inner {
  margin-bottom: 50px; }

.head {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  padding: 15px 0;
  color: #697776;
  background-color: #f3f3f3; }
  .head a {
    color: #697776;
    font-size: 14px; }
  .head span {
    vertical-align: middle; }
  .head-back, .head-more {
    position: absolute;
    cursor: pointer; }
  .head-back {
    left: 8px; }
  .head-more {
    right: 25px;
    margin-top: -16px; }
  .head-title {
    text-align: center;
    font-size: 18px;
    line-height: 20px; }

.head-menu {
  position: absolute;
  z-index: 3;
  right: 14px;
  top: 45px;
  border-radius: 3px;
  width: 116px;
  height: 88px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: none; }
  .head-menu:after {
    content: '';
    position: absolute;
    top: -10px;
    right: 15px;
    border: 10px solid transparent;
    border-top: 0 none;
    border-bottom-color: rgba(0, 0, 0, 0.8); }
  .head-menu li {
    margin: 0 8px;
    line-height: 1.5;
    padding: 11px 0;
    text-align: center;
    cursor: pointer; }
    .head-menu li:first-child {
      border-bottom: 1px solid #fff; }

.icon-back:before, .icon-add:before {
  content: '';
  display: inline-block;
  vertical-align: middle; }
.icon-back:before {
  width: 12px;
  height: 20px;
  background: url(../images/back.png) 50% 50%;
  background-size: 100%;
  margin-right: 8px; }
.icon-add:before {
  width: 15px;
  height: 15px;
  background: url(../images/add.png) 50% 50%;
  background-size: 100%; }

.tag-girl, .tag-boy, .profile-girl, .profile-boy {
  display: inline-block;
  border: 2px solid transparent;
  border-radius: 12px;
  padding: 0 7px; }

.tag-girl {
  border-color: #ecb3a9;
  background-color: #db6f5c;
  color: #fff; }

.tag-boy {
  border-color: #bce7f9;
  background-color: #65c4eb;
  color: #fff; }

.tag-girl:before, .profile-girl:before, .tag-boy:before, .profile-boy:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px; }

.tag-girl:before {
  background: url(../images/girl.png) no-repeat 50% 50%;
  background-size: 100%; }

.profile-girl {
  color: #29d3ca;
  background-color: #effaf8; }
  .profile-girl:before {
    margin-right: 5px;
    background: url(../images/profile-girl.png) no-repeat 50% 50%;
    background-size: 100%; }

.tag-boy:before {
  background: url(../images/boy.png) no-repeat 50% 50%;
  background-size: 100%; }

.profile-boy {
  color: #29d3ca;
  background-color: #effaf8; }
  .profile-boy:before {
    margin-right: 5px;
    background: url(../images/profile-boy.png) no-repeat 50% 50%;
    background-size: 100%; }

.tag-girl .age, .tag-boy .age {
  font-size: 12px;
  margin-left: 4px;
  -webkit-transform: scale(0.9);
  -khtml-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  vertical-align: text-bottom; }

.layer {
  z-index: 2;
  -webkit-transition: all 0.25s ease;
  -khtml-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  top: 100%;
  border-radius: 3px; }

.mask {
  background-color: rgba(0, 0, 0, 0.8); }

.layer-message {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 160px;
  height: 160px;
  -webkit-transform: translate(-50%, -50%);
  -khtml-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  display: none; }

.layer-display {
  top: 0; }

.stranger .about:before, .stranger .fans:before, .stranger .make:before, .stranger .picture:after, .stranger .about dl:after, .stranger .fans dl:after, .list-item:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%; }

.stranger .about:before, .stranger .fans:before, .stranger .make:before {
  top: 0;
  border-top: 1px solid #c8c8c8;
  -webkit-transform: scaley(0.5);
  -khtml-transform: scaley(0.5);
  -moz-transform: scaley(0.5);
  -ms-transform: scaley(0.5);
  -o-transform: scaley(0.5);
  transform: scaley(0.5); }

.stranger .picture:after, .stranger .about dl:after, .stranger .fans dl:after, .list-item:after {
  bottom: 0;
  border-bottom: 1px solid #c8c8c8;
  -webkit-transform: scaley(0.5);
  -khtml-transform: scaley(0.5);
  -moz-transform: scaley(0.5);
  -ms-transform: scaley(0.5);
  -o-transform: scaley(0.5);
  transform: scaley(0.5); }

a {
  text-decoration: none; }

.menu .discovery:before, .menu .nearby:before, .menu .publish:before, .menu .message:before, .menu .profile:before, .menu .join:before, .menu .comment:before, .menu .share:before {
  content: '';
  display: block;
  width: 22px;
  height: 22px;
  margin: 0 auto; }

.menu {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  text-align: center;
  height: 50px;
  background-color: #f3f3f3;
  color: #697776;
  border-top: 1px solid #d3d3d3; }
  .menu ul {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -khtml-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    -o-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-pack: center;
    -khtml-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    -o-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -khtml-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    -o-box-align: center;
    box-align: center;
    displya: -webkit-flex;
    display: flex; }
  .menu li {
    -webkit-box-flex: 1;
    -khtml-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    padding-top: 6px; }
    .menu li:after {
      content: 'X X X X X X X X X X X X X X X X X X X X X X X X X X ';
      display: block;
      height: 0;
      line-height: 0;
      overflow: hidden; }
  .menu a {
    color: #697776;
    display: block;
    margin-top: 4px;
    -webkit-transform: scale(0.8);
    -khtml-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8); }
  .menu .discovery:before {
    background: url(../images/icon-discovery.png) no-repeat 50% 50%;
    background-size: contain; }
  .menu .nearby:before {
    background: url(../images/icon-nearby.png) no-repeat 50% 50%;
    background-size: contain; }
  .menu .publish:before {
    background: url(../images/icon-publish.png) no-repeat 50% 50%;
    background-size: contain;
    position: relative;
    z-index: 2;
    top: -8px; }
  .menu .message:before {
    background: url(../images/icon-message.png) no-repeat 50% 50%;
    background-size: contain; }
  .menu .profile:before {
    background: url(../images/icon-profile.png) no-repeat 50% 50%;
    background-size: contain; }
  .menu .join:before {
    background: url(../images/icon-join.png) no-repeat 50% 50%;
    background-size: contain; }
  .menu .comment:before {
    background: url(../images/icon-comment.png) no-repeat 50% 50%;
    background-size: contain; }
  .menu .share:before {
    background: url(../images/icon-share.png) no-repeat 50% 50%;
    background-size: contain; }
  .menu:after {
    content: '';
    position: absolute;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #f3f3f3;
    border: 1px solid #d3d3d3;
    top: -13px;
    clip: rect(0, 52px, 13px, 0);
    -webkit-transform: translate(-50%, 0);
    -khtml-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }

#refresh {
  position: relative;
  top: -60px;
  padding-top: 60px; }
  #refresh:after {
    content: '';
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    background: url(../images/loading.png) no-repeat 50% 50%;
    background-size: 100%; }
  #refresh.rotate:after {
    -webkit-animation: rotate 1.5s linear infinite;
    -khtml-animation: rotate 1.5s linear infinite;
    -moz-animation: rotate 1.5s linear infinite;
    -ms-animation: rotate 1.5s linear infinite;
    -o-animation: rotate 1.5s linear infinite;
    animation: rotate 1.5s linear infinite; }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.stranger .inner {
  padding-bottom: 50px; }
.stranger .profile {
  position: relative;
  padding: 15px 15px 15px 96px;
  background: #42d5cf url(../images/nearby-banner.jpg) no-repeat 50% 50%;
  background-size: cover; }
  .stranger .profile .hd {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -khtml-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    -o-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-pack: start;
    -khtml-box-pack: start;
    -moz-box-pack: start;
    -ms-box-pack: start;
    -o-box-pack: start;
    box-pack: start;
    -webkit-box-align: center;
    -khtml-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    -o-box-align: center;
    box-align: center;
    display: flex; }
  .stranger .profile h1, .stranger .profile .price {
    font-size: 16px;
    color: #fff;
    line-height: 1.5; }
  .stranger .profile h1 {
    -webkit-box-flex: 1;
    -khtml-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    flex: 1; }
  .stranger .profile .price {
    font-weight: 700; }
  .stranger .profile .img {
    position: absolute;
    left: 7px;
    top: 14px;
    width: 68px;
    height: 68px;
    padding: 1px;
    border: 1px solid #e6e6e6;
    border-radius: 2px; }
    .stranger .profile .img img {
      width: 100%; }
  .stranger .profile .bd {
    margin: 5px 0; }
  .stranger .profile .description {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.6; }
.stranger .picture {
  position: relative;
  padding-left: 85px;
  background-color: #fff;
  font-size: 14px; }
  .stranger .picture h1 {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -khtml-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 85px;
    text-align: center; }
  .stranger .picture-list {
    overflow: hidden;
    padding: 5px 0; }
  .stranger .picture li {
    float: left;
    width: 50px;
    height: 50px;
    margin: 5px 10px 5px 0;
    overflow: hidden; }
    .stranger .picture li:last-child {
      margin-right: 0; }
  .stranger .picture img {
    width: 100%; }
.stranger .about, .stranger .fans {
  position: relative;
  font-size: 14px;
  margin-top: 15px;
  background-color: #fff;
  padding-top: 5px; }
  .stranger .about dl, .stranger .fans dl {
    position: relative;
    margin-left: 60px;
    padding: 5px 0 5px 10px;
    display: table;
    width: -webkit-calc(100% - 70px);
    width: calc(100% - 70px);
    line-height: 24px; }
  .stranger .about .other, .stranger .fans .other {
    border-bottom: 0 none; }
  .stranger .about dt, .stranger .fans dt {
    position: absolute;
    margin-left: -65px; }
  .stranger .about dd, .stranger .fans dd {
    float: left;
    margin-right: 8px; }
.stranger .other dd {
  margin: 5px;
  line-height: 30px;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 0 10px;
  color: #3a3a3a; }
.stranger .fans dl:after, .stranger .about .other:after {
  border-bottom: 0 none; }
.stranger .make {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  background-color: #f3f3f3;
  color: #697776; }

.edit {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -khtml-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .edit h2 {
    font-weight: 700;
    color: #697776;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #c6c6c6;
    text-align: center; }
  .edit label {
    display: block;
    margin: 7px; }
  .edit .price-label {
    height: 36px;
    line-height: 36px;
    color: #c4c4c4;
    border-bottom: 1px solid #c6c6c6; }
  .edit input {
    border: 0 none;
    outline: none; }
  .edit textarea {
    width: 100%;
    border: 0 none;
    outline: none;
    box-sizing: border-box;
    resize: none;
    height: 130px; }
  .edit input, .edit textarea {
    font-size: 14px; }
  .edit button {
    -webkit-appearance: none;
    text-align: center;
    border: 0 none;
    height: 45px;
    line-height: 45px;
    background-color: #2abba4;
    color: #fff;
    width: 100%;
    font-size: 22px; }

.layer-message {
  text-align: center;
  color: #fff; }
  .layer-message .tip {
    margin: 50px auto 30px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -khtml-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    -o-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-pack: center;
    -khtml-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    -o-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -khtml-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    -o-box-align: center;
    box-align: center; }
  .layer-message .split {
    width: 13px;
    height: 9px;
    background: url(../images/to.png) no-repeat 50% 50%;
    background-size: 100%;
    margin: 0 10px; }
  .layer-message .from, .layer-message .to {
    -webkit-box-flex: 1;
    -khtml-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    flex: 1;
    text-align: left; }
    .layer-message .from:after, .layer-message .to:after {
      content: 'X X X X X X X X X X ';
      font-size: 2em;
      display: block;
      height: 0;
      line-height: 0;
      overflow: hidden; }
  .layer-message .from {
    text-align: right; }
  .layer-message .icon-girl {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url(../images/girl-type.png) no-repeat 50% 50%;
    background-size: 100%; }
  .layer-message .icon-boy {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url(../images/boy-type.png) no-repeat 50% 50%;
    background-size: 100%; }

.talk {
  padding: 12px 5px;
  background: #d4d4d4; }
  .talk .inner {
    padding-bottom: 65px; }
  .talk .media {
    position: relative;
    overflow: hidden;
    margin-top: 15px;
    min-height: 80px;
    padding: 0 80px; }
  .talk .img {
    position: absolute;
    top: 0;
    padding: 1px;
    border: 1px solid #8c8c8c;
    width: 65px;
    height: 65px;
    border-radius: 2px; }
  .talk .he .img {
    left: 0; }
  .talk .me .img {
    right: 0; }
  .talk img {
    width: 100%; }
  .talk .message {
    background-color: #fff;
    color: #000;
    line-height: 24px;
    padding: 10px;
    border-radius: 4px;
    position: relative; }
  .talk .message:after {
    content: '';
    position: absolute;
    border: 10px solid transparent; }
  .talk .he .message {
    float: left;
    margin-left: 5px; }
    .talk .he .message:after {
      top: 12px;
      left: -10px;
      border-left-style: none;
      border-right-color: #fff; }
  .talk .me .message {
    float: right;
    margin-right: 5px;
    background-color: #72d066; }
    .talk .me .message:after {
      top: 12px;
      right: -10px;
      border-left-color: #72d066;
      border-right-style: none; }

.talk-area {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  background-color: #f3f3f3; }
  .talk-area .input-wrap {
    overflow: hidden;
    margin-left: 8px;
    padding: 0 5px;
    height: 32px;
    border: 1px solid #bebebe;
    background-color: #fff;
    border-radius: 4px; }
    .talk-area .input-wrap input {
      width: 100%;
      border: 0 none;
      height: 100%;
      line-height: 1.5;
      font-size: 16px;
      outline: none; }
  .talk-area .send {
    float: right;
    margin: 0 8px;
    height: 32px;
    padding: 0 15px;
    -webkit-appearance: none;
    background-color: #f3f3f3;
    border-radius: 36px;
    border: 1px solid #bebebe; }

.address, .time {
  padding-left: 8px;
  -webkit-box-flex: 1;
  -khtml-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  vertical-align: middle;
  box-sizing: border-box; }
  .address:after, .time:after {
    content: 'X X X X X X X X X X X X X X X X X X X X ';
    font-size: 2em;
    height: 0;
    line-height: 0;
    overflow: hidden;
    display: block; }
  .address img, .time img {
    max-width: 14px;
    vertical-align: -2px;
    margin-right: 10px; }

.task-item {
  margin: 14px 5px;
  border-radius: 4px;
  background-color: #fff; }
  .task-item:first-child {
    margin: 10px 5px; }
  .task-item .list-item:after {
    content: '';
    display: none; }
  .task-item .sub-title {
    color: #da634f;
    font-size: 14px;
    margin-right: 15px; }
  .task-item .task-content {
    line-height: 1.5;
    margin: 0 10px;
    padding: 6px 0;
    border-top: 1px solid #dadada;
    color: #929292; }
    .task-item .task-content .hd {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      -webkit-box-orient: horizontal;
      -khtml-box-orient: horizontal;
      -moz-box-orient: horizontal;
      -ms-box-orient: horizontal;
      -o-box-orient: horizontal;
      box-orient: horizontal;
      -webkit-box-pack: start;
      -khtml-box-pack: start;
      -moz-box-pack: start;
      -ms-box-pack: start;
      -o-box-pack: start;
      box-pack: start;
      -webkit-box-align: start;
      -khtml-box-align: start;
      -moz-box-align: start;
      -ms-box-align: start;
      -o-box-align: start;
      box-align: start; }
    .task-item .task-content .bd {
      padding-top: 10px;
      padding-left: 32px;
      position: relative; }
    .task-item .task-content .icon-text,
    .task-item .task-content .icon-love {
      position: absolute;
      margin-left: -25px;
      margin-top: 4px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 100%;
      width: 14px;
      height: 14px; }
    .task-item .task-content .icon-text {
      background-image: url(../images/description.png); }
    .task-item .task-content .icon-love {
      background-image: url(../images/love.png); }

.task .inner {
  padding-bottom: 50px; }
.task .hd {
  background-color: #1fc7be;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -khtml-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -o-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: start;
  -khtml-box-pack: start;
  -moz-box-pack: start;
  -ms-box-pack: start;
  -o-box-pack: start;
  box-pack: start;
  -webkit-box-align: start;
  -khtml-box-align: start;
  -moz-box-align: start;
  -ms-box-align: start;
  -o-box-align: start;
  box-align: start; }
.task .user {
  min-height: 140px;
  width: 107px;
  text-align: center;
  padding: 10px 0; }
.task .main {
  -webkit-box-flex: 1;
  -khtml-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  padding: 10px 15px;
  border-left: 1px solid #74dcd7; }
.task .img {
  padding: 1px;
  border: 1px solid #ededed;
  width: 65px;
  height: 65px;
  border-radius: 2px;
  margin: 15px auto; }
.task img {
  width: 100%; }
.task .name {
  margin-bottom: 6px; }
.task h1 {
  font-size: 18px; }
.task .when-where {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -khtml-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -o-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: start;
  -khtml-box-pack: start;
  -moz-box-pack: start;
  -ms-box-pack: start;
  -o-box-pack: start;
  box-pack: start;
  -webkit-box-align: start;
  -khtml-box-align: start;
  -moz-box-align: start;
  -ms-box-align: start;
  -o-box-align: start;
  box-align: start;
  margin: 8px 0; }
.task .description {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 15px; }
.task .price {
  font-size: 21px; }
.task .bd {
  padding-left: 86px;
  position: relative; }
  .task .bd:after {
    content: '';
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 43px;
    width: 1px;
    background-color: #c8c8c8; }
.task .users {
  padding-right: 12px;
  border-bottom: 1px solid #c8c8c8;
  position: relative; }
  .task .users:after {
    content: '';
    position: absolute;
    top: 15px;
    left: -43px;
    z-index: 2;
    -webkit-transform: translate(-50%);
    -khtml-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
    width: 27px;
    height: 27px;
    background: url(../images/users.png) no-repeat 50% 50%;
    background-size: 100%; }
  .task .users ul {
    overflow: hidden; }
  .task .users li {
    float: left; }
  .task .users .img {
    margin: 6px 0 0 6px;
    width: 38px;
    height: 38px; }
  .task .users-count {
    overflow: hidden;
    color: #909090; }
    .task .users-count p {
      float: right;
      -webkit-transform: scale(0.8);
      -khtml-transform: scale(0.8);
      -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
      -o-transform: scale(0.8);
      transform: scale(0.8); }
.task .comments {
  padding: 15px 12px 15px 0;
  position: relative; }
  .task .comments:after {
    content: '';
    position: absolute;
    top: 10px;
    left: -43px;
    -webkit-transform: translate(-50%);
    -khtml-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
    z-index: 2;
    width: 22px;
    height: 22px;
    background: url(../images/comment.png) no-repeat 50% 50%;
    background-size: 100%; }
  .task .comments .media {
    margin-bottom: 20px;
    overflow: hidden; }
  .task .comments .img {
    float: right;
    margin: 0 0 5px 10px; }
  .task .comments h1 {
    color: #333;
    font-size: 14px; }
  .task .comments .content {
    margin-top: 5px;
    color: #929292;
    line-height: 1.6;
    font-size: 12px; }
.task .comment-date {
  color: #929292; }
.task .comment-nav a {
  color: #929292;
  margin-right: 24px;
  font-size: 12px; }
.task .foot:after {
  display: none; }

.layer-comment-success:before, .layer-join-success:before {
  content: "";
  display: block;
  width: 65px;
  height: 65px;
  margin: 27px auto; }

.layer-comment-success:before {
  background: url(../images/icon-comment-success.png) no-repeat 50% 50%;
  background-size: 100%;
  -webkit-transform: translate(5px, 0);
  -khtml-transform: translate(5px, 0);
  -moz-transform: translate(5px, 0);
  -ms-transform: translate(5px, 0);
  -o-transform: translate(5px, 0);
  transform: translate(5px, 0); }

.layer-join-success:before {
  background: url(../images/icon-join-success.png) no-repeat 50% 50%;
  background-size: 100%; }

.head-black {
  background: #272727;
  color: #fff; }
  .head-black a {
    color: #fff; }
    .head-black a.icon-back:before {
      background: url(../images/back-white.png) 50% 50%;
      background-size: 100%; }

.box-white {
  background: #fff; }

.inner {
  overflow: hidden; }

.list-area {
  margin: 10px 0; }

.text-area {
  background: #EDEDED;
  border: 1px solid #C8C8C8;
  border-left: 0;
  border-right: 0; }
  .text-area p span {
    display: inline-block;
    margin: 10px;
    margin-top: 0;
    padding: 3px 10px;
    display: inline-block;
    border: 1px solid #d5ded5;
    border-radius: 15px;
    background: #fff; }
    .text-area p span:after {
      content: 'x';
      display: inline-block;
      border: 1px solid transparent;
      border-radius: 5px; }
  .text-area input {
    border: 0;
    outline: 0;
    background: #EDEDED;
    width: 100%; }

.hintmsg {
  color: #C4C4C4; }

.appraise-tag ul {
  margin: 10px 0;
  height: 30px;
  background: #EDEDED;
  border: 1px solid #C8C8C8;
  border-left: 0;
  border-right: 0; }
  .appraise-tag ul li {
    padding: 4px;
    padding-bottom: 2px;
    float: left;
    color: #1e93e5;
    font-weight: bold;
    margin-right: 20px; }
    .appraise-tag ul li.cur {
      border-bottom: 3px solid #1e93e5; }

.appraise-msg p span {
  margin: 10px;
  margin-top: 0;
  padding: 3px 10px;
  display: inline-block;
  border: 1px solid #d5ded5;
  border-radius: 15px; }

.page {
  line-height: 1.4;
  height: 100%;
  overflow: auto; }

.list-item {
  position: relative;
  padding: 10px 0 10px 88px;
  cursor: pointer;
  background-color: #fff; }
  .nearby .list-item {
    padding-right: 50px; }
  .message .list-item {
    padding-right: 10px; }
  .list-item:last-child:after {
    border-bottom: 0 none; }
  .list-item .img {
    position: absolute;
    left: 7px;
    top: 14px;
    width: 65px;
    height: 65px;
    padding: 1px;
    border: 1px solid #e6e6e6;
    border-radius: 2px; }
    .list-item .img img {
      width: 100%; }
  .list-item .count {
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background: #ff1616;
    color: #fff;
    -webkit-transform: translate(40%, -20%);
    -khtml-transform: translate(40%, -20%);
    -moz-transform: translate(40%, -20%);
    -ms-transform: translate(40%, -20%);
    -o-transform: translate(40%, -20%);
    transform: translate(40%, -20%);
    border-radius: 50%;
    text-align: center;
    line-height: 24px; }
  .list-item .hd {
    overflow: hidden;
    color: #333333;
    line-height: 1.5; }
  .list-item h1 {
    float: left;
    font-size: 16px; }
  .list-item .sub-title {
    float: right;
    font-size: 12px;
    padding: 3px 0; }
    .message .list-item .sub-title {
      color: #929292; }
  .list-item .bd {
    margin: 5px 0; }
    .message .list-item .bd {
      padding-right: 85px; }
  .list-item .description {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color: #929292; }
  .list-item .more {
    position: absolute;
    right: 0;
    top: 0; }
    .message .list-item .more {
      right: 10px;
      padding: 4px 25px;
      text-align: center;
      border-radius: 14px;
      top: 50%;
      margin-top: -13px;
      background-color: #65b1eb;
      color: #fff; }
    .nearby .list-item .more {
      width: 50px;
      height: 100%; }
      .nearby .list-item .more:after {
        content: '';
        position: absolute;
        right: 10px;
        width: 10px;
        height: 18px;
        background: url(../images/arraw.png) no-repeat 50% 50%;
        background-size: 100%;
        top: 50%;
        margin-top: -9px; }

/*# sourceMappingURL=all.css.map */
